/*
 * Copyright (C) 2021 John Sirach <john.sirach@pidome.org>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
/* 
    Created on : May 4, 2019, 1:05:30 PM
    Author     : John
*/

.root {
    -fx-default-pane-background-color: background_color;
    -fx-default-pane-foreground-color: tab_pane_background_color;
    -fx-text-fill: -fx-default-text-color;
}

/* Generics */
.glyph-icon {
    -fx-fill: -fx-default-text-color;
}
.h4 {
    -fx-font-size: 1.2em;
    -fx-padding: 0.4em 0 0.1em 0;
}
.h3 {
    -fx-font-size: 1.4em;
}
.h2 {
    -fx-font-size: 1.7em;
}
.hr {
    -fx-stroke: -fx-default-border;
}
.text {
    -fx-fill: -fx-default-text-color;
}
.text-underline {
    -fx-underline: true;
}
.no-border {
    -fx-border-width: 0;
}
/* Temp flat board color label assignments */
.flat-board .label {
    -fx-text-fill: black;
}
.backdrop {
    -fx-background-image: url('/org/pidome/games/chess/home_backdrop.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.transparent-background {
    -fx-background-color: transparent;
}

.game-scene {
    -fx-vgap: 0;
    -fx-hgap:0;
}

.top-menu-bar {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: derive(-fx-default-border, -25%);
}

/* In game popup */
.game-popup {
    -fx-border-width: 1;
    -fx-padding: 0em 0em 1em 0em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0.5, 0.0, 0.0);
    -fx-background-color: -fx-default-pane-background-color;
    -fx-border-color: -fx-default-border;
}

game-popup.undecorated {
    -fx-border-width: 0;
    -fx-padding: 0em;
    -fx-effect: null;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.game-popup .header {
    -fx-padding: 0em 0em 0em 1em;
	-fx-font-size: 1.7em;
}

.game-popup .text {
}

.game-popup .content {
    -fx-padding: 1em;
}

.game-popup .footer {
    -fx-padding: 1em 1em 0em 1em;
}
.spinner-loading {
    -fx-background-color: transparent;
}

.spinner-loading .text {
}
/* /In game popup */

/* Moves view */
.moves-view {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: derive(-fx-default-border, -25%);
    -fx-background-color: -fx-default-pane-background-color;
}
.moves-view .header {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: derive(-fx-default-border, -25%);
}
.moves-view .moves-size {
    -fx-font-size: 1.5em;
}

.moves-view .sroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.moves-view .sroll-pane:focused {
    -fx-background-insets: 0;
}
.moves-view .sroll-pane .corner {
    -fx-background-insets: 0;
}
/* /Moves view */

/* flat board background */
.flat-board-view {
    -fx-background-color: -fx-default-pane-background-color;
}

/* Flat board view when combined */
.flatboard-combined-view {
    -fx-border-width: 1 0 0 1;
    -fx-border-color: derive(-fx-default-border, -25%);
}
/* /Flat board view when combined */

.tab-pane .tab-content-area {
    -fx-padding: 1em 0 0 0;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -fx-default-border;
}
.tab-pane > .tab-header-area {
    -fx-padding: 0em 0.166667em 0em 0em;
}
.interface-line {
    -fx-stroke: -fx-default-border;
    -fx-stroke-width: 2px;
}
.field-set {
    -fx-border-color: -fx-default-border;
    -fx-border-width: 1;
}
.field-set .field-set-content {
    -fx-padding: 1.1em 1em 1em 1em;
    -fx-background-color: transparent;
}
.field-set .field-set-label {
    -fx-background-color: -fx-default-pane-background-color;
    -fx-translate-x: .5em;
    -fx-padding: 0em .5em 0em .5em;
}
/* status bar */
.status-bar {
    -fx-background-color: -fx-default-pane-background-color;
    -fx-border-color: derive(-fx-default-border, -25%);
    -fx-border-width: 1 0 0 0;
    -fx-padding: 8;
}
.status-bar .text {
    -fx-fill: -fx-default-text-color;
}
/* /status bar */

.progress-indicator .spinner {
    -fx-background-color: transparent;
}
.progress-indicator > .track {
    -fx-background-color: transparent;
}
/* In game tablet interface */
.tablet-display-content-pane {
    -fx-background-color: #262626B2;
    -fx-border-color: #00000033;
    -fx-border-width: 6px;
}

.player-card-container.flat-view {
    -fx-background-color: -fx-default-pane-background-color;
    -fx-border-color: derive(-fx-default-border, -25%);
    -fx-border-width: 0 0 1 1;
}

.player-card {
    -fx-background-color: -fx-default-pane-background-color;
    -fx-border-color: derive(-fx-default-border, -25%);
}

.player-card .turn-indicator {
    -fx-padding: 5;
    -fx-border: 1;
    -fx-border-color: derive(-fx-default-border, -25%);
}

.player-card .turn-indicator.white {
    -fx-fill: white;
}

.player-card .turn-indicator.black {
    -fx-fill: black;
}

.player-card:turn .turn-indicator.white,
.player-card:turn .turn-indicator.black{
    -fx-fill: accent_color;
}

.player-card .avatar {
    -fx-pref-height: 50;
}

.player-card .info {
    -fx-background-color: rgba(0,0,0,.7);
    -fx-font-size: 1.1em;
}

/* A person's avatar */
.avatar {
    -fx-border-color: -fx-default-border;
    -fx-border-radius: 3px;
    -fx-border-width: 3px;
}

/* Piece default font color for font pieces */
.piece-color {
    -fx-fill: black;
}

/* Playlist buttons */
.game-player {
    -fx-padding: 3 5 3 5;
    -fx-border-color: -fx-default-border;
    -fx-border-width: 1 0 0 0;
}
.game-player .action-button {
    -fx-font-size: 1.3em;
}

.scene-editor-editor-pane {
    -fx-border-width: 0 0 0 1;
    -fx-padding: 1em 0 1m 0;
    -fx-background-color: -fx-default-pane-background-color;
    -fx-border-color: -fx-default-border;
}
.scene-editor-editor-pane .editor-control-region {
    -fx-padding: 1em;
}

.scene-editor-editor-pane .titled-pane > .title > .text {
   -fx-font-size: 1.3em;
}
.scene-editor-editor-pane .titled-pane > .title {
    -fx-border-width: 0.083333em 0 0.083333em 0; /* 1 */
    -fx-background-insets: 0, 1 0 1 0;
}
.scene-editor-editor-pane .titled-pane.first > .title {
    -fx-border-width: 0 0 0.083333em 0;
    -fx-background-insets: 0, 0 0 1 0;
}
.scene-editor-editor-pane .titled-pane > .content {
    -fx-border-width: 0.083333em 0 0 0;
    -fx-background-color: border_color, -fx-default-pane-background-color;
    -fx-background-insets: -1 0 0 0, 0 0 0 0;
}
.scene-editor-editor-pane .scroll-pane {
    -fx-border-width: 0.083333em 0 0 0;
    -fx-border-color: -fx-default-border;
}

.titled-pane.new-scene-template-selector > .title {
    -fx-border-width: 0 0 0.083333em 0;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-color: border_color, -fx-default-pane-background-color;
}

.titled-pane.new-scene-template-selector > .content {
    -fx-border-width: 0 0 0 0;
    -fx-background-color: border_color, -fx-default-pane-background-color;
    -fx-background-insets: 0 0 0 0, 0 0 0 0;
    -fx-padding: 0 0 0 0;
}
.titled-pane.new-scene-template-selector > .title > .arrow-button {
    -fx-background-color: transparent;
}
.titled-pane.new-scene-template-selector > .title:hover > .arrow-button {
    -fx-background-color: transparent;
}